<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Kalkulacije u proizvodnji</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <style>
        body {
            background-color: #f5f5f5; 
        }
        .container {
        	margin-top: 50px; 
    	}
        .form-signin {
            border: 1px solid #ddd; 
            padding: 20px; 
            background-color: #fff; 
        }
        .btn-primary {
        	background-color: #00695c; 
        	border-color: #00695c;
    	}
    	.btn-info {
        	background-color: #c3e6cb; 
        	border-color: #c3e6cb;
    	}
    </style>
</head>
<body>
    <div class="container">
     <div class="row">
        <div class="col-md-6 mx-auto"> 
            <form th:action="@{/login}" method="post" class="form-signin">            
                <input type="text" id="email" name="username" th:placeholder="Email" class="form-control" required/> <br/>
            	<input type="password" id="lozinka" name="password" th:placeholder="Lozinka" class="form-control" required/> <br/>
            	<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit">PRIJAVA</button>
            </form>
            <br/>
            <form th:action="@{/registracija}" method="get">
                <button class="btn btn-md btn-info btn-block" type="submit">REGISTRACIJA</button>
            </form>          
            <div th:if="${param.error}">
                <p class="alert alert-danger">Neispravni korisnički podaci!</p>
            </div>
            <div th:if="${param.logout}">
                <p class="alert alert-success">Uspješno ste se prijavili!</p>
            </div>
        </div>
    </div>
    </div>
    <footer class="text-center text fixed-bottom" style="background-color: grey;">
  		<div class="container p-4">
  			<a class="text-white">KALKULACIJE U PROIZVODNJI</a>
  		</div> 
  		<div class="text-center p-3" style="background-color: white;">
   					 © 2023 Copyright
  		</div>
	</footer>      
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
