<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Kalkulacije u proizvodnji</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style> 
    	body {background-color: #f0f5f3;}
    	.table-container {
        	background-color: white;
        	text-align: center;
        	padding: 20px;
        	border: 1px solid #ccc;         	
        	margin: 20px; 
    	}
    	.table-container table {
        	width: 100%;
        	border-collapse: collapse;
        	border-spacing: 0; 
    	}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Korisnik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">              
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kalkulacija}">Kalkulacija</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/materijali}">Materijali</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proizvodi}">Proizvodi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tip_materijala}">Tip materijala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mjerne_jedinice}">Mjerna jedinica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/strojevi}">Stroj</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/odjava}">Odjava</a>                   
                </li>             
            </ul>
        </div>
    </nav>
    <div class="container table-container mx-auto text-center">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Šifra</th>
                    <th>Opis</th>
                    <th>Tip materijala</th>
                    <th>Cijena</th>
                    <th>Valuta</th>
                    <th>Količina</th>                                  
                    <th>Mjerna jedinica</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="materijal : ${materijali}">                   
                    <td th:text="${materijal.sifra}"></td>
                    <td th:text="${materijal.opis}"></td>
                    <td th:text="${materijal.tipMaterijala}"></td>
                    <td th:text="${materijal.jedinicnaCijena}"></td>
                    <td th:text="${materijal.valuta}"></td>
                    <td th:text="${materijal.kolicina}"></td>
                    <td th:text="${materijal.mjernaJedinica}"></td>
                    <td>
                        <a th:href="@{/uredi_materijal/{id}(id=${materijal.id})}" class="btn btn-warning">Uredi</a>                        
                    </td>                                      
                </tr>
            </tbody>    
        </table>
    </div> 
    <footer class="text-center text fixed-bottom" style="background-color: #00695c;">
  		<div class="container p-4">
  			<a class="text-white">KALKULACIJE U PROIZVODNJI</a>
  		</div> 
  		<div class="text-center p-3" style="background-color: white;">
   					 © 2023 Copyright
  		</div>
	</footer>       
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>